In [1]:
import pandas as pd 
import numpy as np

In [6]:
string1 = "Cu-Pt-Pt(111) 256 277 277 1.90 2.28 4 1 -0.49570 3 0.7059 2.3669 1.6610 2.3669 Cu-Pt-Pt(111) 256 277 277 1.90 2.28 5 1 -0.49570 3 0.5158 2.4030 1.8872 2.4030 Cu-Pt-Pt(111) 256 277 277 1.90 2.28 6 1 -0.49570 3 2.0088 2.7528 0.7440 2.7528 Cu-Pt-Pt(111) 256 277 277 1.90 2.28 7 1 -0.49570 2 1.4318 2.9658 1.5340 2.9658 Cu-Pt-Pt(111) 256 277 277 1.90 2.28 8 2 -0.49570 5 -0.6443 1.6318 2.2761 1.6317 Cu-Pt-Pt(111) 256 277 277 1.90 2.28 9 2 -0.49570 4 0.5202 2.1252 1.6050 2.1252 Cu-Pt-Pt(111) 256 277 277 1.90 2.28 11 2 -0.49570 3 0.7059 2.4719 1.7660 2.4719 Cu-Pt-Pt(111) 256 277 277 1.90 2.28 12 2 -0.49570 3 0.5158 3.8498 3.3340 3.8498 Cu-Pt-Pt(111) 256 277 277 1.90 2.28 14 2 -0.49570 2 1.4318 2.9568 1.5250 2.9568 Ni-Pt-Pt(111) 249 277 277 1.91 2.28 2 1 -0.73068 4 -0.5303 -0.9524 -0.4221 0.4237 Ni-Pt-Pt(111) 249 277 277 1.91 2.28 4 1 -0.73068 3 -0.2382 -0.8449 -0.6067 0.8172 Ni-Pt-Pt(111) 249 277 277 1.91 2.28 5 1 -0.73068 3 -0.1366 -0.1891 -0.0525 0.7884 Ni-Pt-Pt(111) 249 277 277 1.91 2.28 6 1 -0.73068 3 0.2829 -0.3591 -0.6419 0.4621 Ni-Pt-Pt(111) 249 277 277 1.91 2.28 7 1 -0.73068 2 0.5864 -0.3131 -0.8994 1.0954 Ni-Pt-Pt(111) 249 277 277 1.91 2.28 9 2 -0.73068 4 -0.5303 -0.9558 -0.4255 0.5965 Ni-Pt-Pt(111) 249 277 277 1.91 2.28 11 2 -0.73068 3 -0.2382 -1.2013 -0.9631 0.3952 Ni-Pt-Pt(111) 249 277 277 1.91 2.28 12 2 -0.73068 3 -0.1366 -0.9578 -0.8212 0.8154 Ni-Pt-Pt(111) 249 277 277 1.91 2.28 14 2 -0.73068 2 0.5864 -0.7332 -1.3196 1.0321 Pd(111) 275 275 275 2.20 2.20 1 1 -0.73 5 0.6500 1.56 0.91 2.5800 Pd(111) 275 275 275 2.20 2.20 2 1 -0.73 4 1.0800 1.34 0.26 2.6000 Pd(111) 275 275 275 2.20 2.20 3 1 -0.73 4 1.6400 1.72 0.08 2.3500 Pd(111) 275 275 275 2.20 2.20 4 1 -0.73 3 0.9600 0.3 -0.66 1.4600 "
string2 = "Pt-Cu-Pt(111) 277 256 277 2.28 1.90 12 2 -0.24323 3 1.3624 2.2673 0.9049 3.9424 Pt-Cu-Pt(111) 277 256 277 2.28 1.90 14 2 -0.24323 2 1.0929 2.5397 1.4468 4.1689 Pt-Ni-Pt(111) 277 249 277 2.28 1.91 4 1 -0.28966 3 0.6273 0.5693 -0.0580 2.1853 Pt-Ni-Pt(111) 277 249 277 2.28 1.91 5 1 -0.28966 3 1.2521 1.6868 0.4347 3.0481 Pt-Ni-Pt(111) 277 249 277 2.28 1.91 6 1 -0.28966 3 2.0580 2.0611 0.0031 3.5360 Pt-Ni-Pt(111) 277 249 277 2.28 1.91 8 2 -0.28966 5 0.7582 0.1434 -0.6148 2.6455 Pt-Ni-Pt(111) 277 249 277 2.28 1.91 11 2 -0.28966 3 0.6273 1.8668 1.2395 3.0678 Pt-Ni-Pt(111) 277 249 277 2.28 1.91 12 2 -0.28966 3 1.2521 2.4435 1.1914 3.9831 Pt-Ni-Pt(111) 277 249 277 2.28 1.91 14 2 -0.28966 2 1.3187 2.7178 1.3991 4.2267 Pt(111) 277 277 277 2.28 2.28 1 1 -0.37732 5 0.5771 0.3991 -0.1780 2.7909 Pt(111) 277 277 277 2.28 2.28 2 1 -0.37732 4 0.6068 0.5283 -0.0784 2.0038 Pt(111) 277 277 277 2.28 2.28 3 1 -0.37732 4 0.9086 1.0147 0.1061 2.5607 Pt(111) 277 277 277 2.28 2.28 4 1 -0.37732 3 0.2367 -0.0195 -0.2562 2.0240 Pt(111) 277 277 277 2.28 2.28 5 1 -0.37732 3 0.9065 0.8928 -0.0137 2.2932 Pt(111) 277 277 277 2.28 2.28 6 1 -0.37732 3 1.4296 1.3776 -0.0520 3.0045 Pt(111) 277 277 277 2.28 2.28 7 1 -0.37732 2 0.7565 0.5358 -0.2206 1.8205 Pt(111) 277 277 277 2.28 2.28 8 2 -0.37732 5 0.5771 0.4793 -0.0978 2.2635 Pt(111) 277 277 277 2.28 2.28 9 2 -0.37732 4 0.6068 1.0438 0.4370 2.1708 Pt(111) 277 277 277 2.28 2.28 10 2 -0.37732 4 0.9086 1.0343 0.1257 1.9649 Pt(111) 277 277 277 2.28 2.28 11 2 -0.37732 3 0.2367 0.8748 0.6381 2.3886 Pt(111) 277 277 277 2.28 2.28 12 2 -0.37732 3 0.9065 1.4083 0.5018 2.6037 Pt(111) 277 277 277 2.28 2.28 13 2 -0.37732 3 1.4296 1.7480 0.3184 2.8911 Pt(111) 277 277 277 2.28 2.28 14 2 -0.37732 2 0.7565 1.7179 0.9614 3.0400 "
string = string1 + string2 #Note spaces are correct

In [8]:
data = string.split(" ")
df_data = [data[x:x+14] for x in range(0,len(data),14)]
cols = ["surface" ,"d_1", "d_2", "d_3", "x_1", "x_2","id","co/cc", "e_etoh", "n_h" ,"e_is" ,"e_fs", "e_r" ,"e_ts"]
df = pd.DataFrame(df_data, columns = cols)
df.head()

,surface,d_1,d_2,d_3,x_1,x_2,id,co/cc,e_etoh,n_h,e_is,e_fs,e_r,e_ts
0,Cu-Pt-Pt(111),256,277,277,1.90,2.28,4,1,-0.49570,3,0.7059,2.3669,1.6610,2.3669
1,Cu-Pt-Pt(111),256,277,277,1.90,2.28,5,1,-0.49570,3,0.5158,2.4030,1.8872,2.4030
2,Cu-Pt-Pt(111),256,277,277,1.90,2.28,6,1,-0.49570,3,2.0088,2.7528,0.7440,2.7528
3,Cu-Pt-Pt(111),256,277,277,1.90,2.28,7,1,-0.49570,2,1.4318,2.9658,1.5340,2.9658
4,Cu-Pt-Pt(111),256,277,277,1.90,2.28,8,2,-0.49570,5,-0.6443,1.6318,2.2761,1.6317

In [ ]:
#Wow created a great dataframe.Time to ask some questions!
#Visualizations created in DOMO!